<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}">


</head>
<body>
    <section class="registerform">
        <span class="registerTitle">Register</span>
        <div class="email">
            <input type="email" name="email" id="remail" placeholder="Email" autocomplete="off" aria-invalid="false" aria-haspopup="false" spellcheck="false" required>
        </div>
        <div class="password">
            <input type="password" name="password" id="rpassword" placeholder="Password" required>
        </div>
        <div class="password">
            <input type="password" name="password" id="rcpassword" placeholder="Confirm Password" required>
        </div>
        
        <div class="registerbutton">
            <button id="registerButton">Register</button>
        </div>
        <span>Already have an account? <a href="/">Login here</a></span>
    </section>

    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
    
</body>
</html>